{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Malibu Live Stream: All the Latest News, Weather, Events, Traffic, Talk, Chat, Ocean</title>
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
	<div class="row">
		<div class="col-md-12 col-lg-4 left-container">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="45000">
			<div class="carousel-inner">
				<div class="carousel-item active">
				<div class="container">
				<h3><i>Traffic Center: Malibu</i></h3>
				<div class="left-box ml-3 mr-3">
					<iframe class="w-100" src="{{city_weather.map_url}}"  height="300" frameborder="0" style="border:0;" allowfullscreen></iframe>
				</div>
				<div class="wrapper">
				<div class="boxesss">
					 <marquee behavior="scroll" direction = "up" height="440" scrolldelay="4" scrollamount="4">
						<div class="box-111">
							<table class="table">
								 <col span="1" class="wide">
								<tr class="trs">
									<th class="ths">Title  <p style="text-align: right!important; margin-top: -45px">:</p></th>
									<td class="tds">{{rssfeed21.title1}}</td>
								</tr>
								<tr class="trs">
									<th class="ths">Date <p style="text-align: right!important; margin-top: -45px;">:</p></th>
									<td class="tds">{{rssfeed21.lastBuildDate}}</td>
								</tr>
								<tr class="trs">
									<th class="ths">Description &nbsp <p style="text-align: right!important; margin-top: -45px;">:</p></th>
									<td class="tds">{{rssfeed21.description}}</td>
								</tr>
							</table>
						</div>
						<div class="box-222">
							<table class="table">
								<col span="1" class="wide">
								<tr class="trs">
									<th class="ths">Title <p style="text-align: right!important; margin-top: -45px;">:</p></th>
									<td class="tds">{{rssfeed22.title1}}</td>
								</tr>
								<tr class="trs">
									<th class="ths">Date <p style="text-align: right!important; margin-top: -45px;">:</p></th>
									<td class="tds">{{rssfeed22.lastBuildDate}}</td>
								</tr>
								<tr class="trs">
									<th class="ths">Description<p style="text-align: right!important; margin-top: -45px;">:</p></th>
									<td class="tds">{{rssfeed22.description}}</td>
								</tr>
							</table>
						</div>	
						<div class="box-333">
							<table class="table">
								 <col span="1" class="wide">
								<tr class="trs">
									<th class="ths">Title  <p style="text-align: right!important; margin-top: -45px">:</p></th>
									<td class="tds">{{rssfeed23.title1}}</td>
								</tr>
								<tr class="trs">
									<th class="ths">Date <p style="text-align: right!important; margin-top: -45px;">:</p></th>
									<td class="tds">{{rssfeed23.lastBuildDate}}</td>
								</tr>
								<tr class="trs">
									<th class="ths">Description &nbsp <p style="text-align: right!important; margin-top: -45px;">:</p></th>
									<td class="tds">{{rssfeed23.description}}</td>
								</tr>
							</table>
						</div>
						<div class="box-444">
							<table class="table">
								<col span="1" class="wide">
								<tr class="trs">
									<th class="ths">Title <p style="text-align: right!important; margin-top: -45px;">:</p></th>
									<td class="tds">{{rssfeed24.title1}}</td>
								</tr>
								<tr class="trs">
									<th class="ths">Date <p style="text-align: right!important; margin-top: -45px;">:</p></th>
									<td class="tds">{{rssfeed24.lastBuildDate}}</td>
								</tr>
								<tr class="trs">
									<th class="ths">Description<p style="text-align: right!important; margin-top: -45px;">:</p></th>
									<td class="tds">{{rssfeed24.description}}</td>
								</tr>
							</table>
						</div>	
						</marquee>
					</div>
				</div><!--End of wrapper-->
			</div>
				</div>
				<div class="carousel-item">
				<div class="container">
				<h3><i>Surf Center: Malibu</i></h3>
				<div class="left-box ml-3 mr-3">
					<iframe width="100%" height="300" src="https://embed.windy.com/embed2.html?lat=33.669&lon=-118.125&zoom=8&level=surface&overlay=waves&menu=&message=&marker=&calendar=&pressure=&type=map&location=coordinates&detail=&detailLat=33.669&detailLon=-118.123&metricWind=mph&metricTemp=%C2%B0F&radarRange=-1" frameborder="0"></iframe>
				</div>
				<div class="wrapper">
					<div class="row ml-1 mr-1">
						<div class="col">
							<img class="img-water-temp" src="{% static 'images/water_temp.png' %}">
							<span class="parameter-value">{{city_weather.water_temp}}<sup class="sup-text"> * F</sup></span>
						</div>
						<div class="col">
								<img class="img-air-temp" src="{% static 'images/air_temp.png' %}">
								<span class="parameter-value">{{city_weather.air_temp}}<sup class="sup-text"> * F</sup></span>
						</div>
						<div class="w-100"></div>
						<div class="col">
								<img class="img-barometric" src="{% static 'images/barometric_pressure.png' %}">
								<span class="parameter-value">{{city_weather.pressure}}<sup class="sup-text"> mb</sup></span>
						</div>
						<div class="w-100"></div>
						<div class="col">
							<img class="img-gusting" src="{% static 'images/gusting_to.png' %}">
							<span class="parameter-value">{{city_weather.gusting}}
								<sup class="sup-text">kts from  {{city_weather.direction}}
								</sup>
							</span>	
						</div>
						<div class="col">
							<img class="img-winds" src="{% static 'images/winds.png' %}">
							<span class="parameter-value">{{city_weather.wind}}<sup class="sup-text"> kts from  {{city_weather.direction}}</sup></span>
						</div>
					</div> <!--End of row-->

					<table class="mt-2 table">
						<thead>
							<tr>
								<th scope="col">TIME</th>
								<th scope="col">TIDE</th>
								<th scope="col">HEIGHT</th>
							</tr>
						</thead>
						<tbody>
							<tr>
						      
						      <td>{{city_weather.tidetime1}}</td>
						      <td>{{city_weather.tide1}}</td>
						      <td>{{city_weather.tidelevel1}}</td>
						    </tr>
						    <tr>
						      
						       <td>{{city_weather.tidetime2}}</td>
						      <td>{{city_weather.tide2}}</td>
						      <td>{{city_weather.tidelevel2}}</td>
						    </tr>
						    <tr>
						      
						      <td>{{city_weather.tidetime3}}</td>
						      <td>{{city_weather.tide3}}</td>
						      <td>{{city_weather.tidelevel3}}</td>
						    </tr>
						</tbody>
					</table> <!--End of table-->
				</div><!--End of wrapper-->
			</div>
				</div>
				<div class="carousel-item">
				<div class="container">
				<h3><i>Weather Center: Malibu</i></h3>
				<div class="left-boxs ml-2 mr-2">
					<iframe width="100%" height="300" src="https://embed.windy.com/embed2.html?lat=33.633&lon=-118.600&zoom=9&level=surface&overlay=temp&menu=&message=&marker=&calendar=24&pressure=&type=map&location=coordinates&detail=&detailLat=33.633&detailLon=-118.600&metricWind=mph&metricTemp=%C2%B0F&radarRange=-1" frameborder="0"></iframe>
				</div>
				<div class="wrappers">
					<table class="table table-left">
						<thead class="weather-head">
							<div class="boxess">
								<div class="box-11">
									<span><p class="sup-malibu">malibu</p></span>
								</div>
								<div class="box-22">
							    	<img class="head-img" src="{% static "images/03.png" %}" class="sun-cloud" alt="cloudy">
								</div>
								<div class="box-33">
									<p class="head-value">63<sup class="sup-text"> * F</sup><sub class="sub-text">Clear</sub></p>
									
								</div>
								<div class="box-44">
									<span><p class="sup-now">now</p></span> -->
								</div>

							</div>
						</thead>
						<tbody>
							<tr>
							    <th>Sunday</th>
							    <td>
							    	<img src="{% static "images/03.png" %}" class="sun-cloud" alt="cloudy">
							    </td>
							    <td>
									<p>76<sup> * F</sup></p>
							    </td>
							    <td>
									<p>58<sup> * F</sup></p>
							    </td>

							</tr>
							<tr>
							    <th>Monday</th>
							    <td>
							    	<img src="{% static "images/02.png" %}" class="sun-cloud" alt="cloudy">
							    </td>
							    <td>
									<p>74<sup> * F</sup></p>
							    </td>
							    <td>
									<p>59<sup> * F</sup></p>
							    </td>

							</tr>
							<tr>
							    <th>Tuesday</th>
							    <td>
							    	<img src="{% static "images/02.png" %}" class="sun-cloud" alt="cloudy">
							    </td>
							    <td>
									<p>75<sup> * F</sup></p>
							    </td>
							    <td>
									<p>58<sup> * F</sup></p>
							    </td>

							</tr>
							<tr>
							    <th>Wednesday</th>
							    <td>
							    	<img src="{% static "images/02.png" %}" class="sun-cloud" alt="cloudy">
							    </td>
							    <td>
									<p>69<sup> * F</sup></p>
							    </td>
							    <td>
									<p>54<sup> * F</sup></p>
							    </td>

							</tr>
							<tr>
							    <th>Thursday</th>
							    <td>
							    	<img src="{% static "images/02.png" %}" class="sun-cloud" alt="cloudy">
							    </td>
							    <td>
									<p>70<sup> * F</sup></p>
							    </td>
							    <td>
									<p>59<sup> * F</sup></p>
							    </td>

							</tr>
							<tr>
							    <th>Friday</th>
							    <td>
							    	<img src="{% static "images/02.png" %}" class="sun-cloud" alt="cloudy">
							    </td>
							    <td>
									<p>78<sup> * F</sup></p>
							    </td>
							    <td>
									<p>62<sup> * F</sup></p>
							    </td>

							</tr>
							<tr>
							    <th>Saturday</th>
							    <td>
							    	<img src="{% static "images/02.png" %}" class="sun-cloud" alt="cloudy">
							    </td>
							    <td>
									<p>78<sup> * F</sup></p>
							    </td>
							    <td>
									<p>60<sup> * F</sup></p>
							    </td>

							</tr>
						</tbody>
					</table>
				</div><!--End of wrapper-->
			</div>
				</div>
				<div class="carousel-item">
						<div class="container">
				<div class="card text-white mb-3">
				<iframe src="https://feed.mikle.com/widget/v2/118558/" height="800px" width="100%" class="fw-iframe" scrolling="no" frameborder="0"></iframe>
				</div>
			</div>
				</div>
			<div class="carousel-item">
					<div class="container">
						<iframe src="https://feed.mikle.com/widget/v2/119280/" height="800px" width="100%" class="fw-iframe" scrolling="no" frameborder="0"></iframe>		
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<iframe src="https://feed.mikle.com/widget/v2/119265/" height="802px" width="100%" class="fw-iframe" scrolling="no" frameborder="0"></iframe>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
					<h3><i>Comment Feed</i></h3>
						<div class="card text-white mb-3">
						<iframe class="card-body w-100" src="https://chat.restream.io/embed?token=befa2567-e78f-47a9-8c49-0a43224fc2ad" height="750"></iframe>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container">
						<div class="card text-white mb-3">
						<iframe src="https://feed.mikle.com/widget/v2/119065/" height="780px" width="100%" class="fw-iframe" scrolling="no" frameborder="0"></iframe>
						</div>
					</div>
				</div>
			</div>
			
			</div><!--End of container-->
		</div>	<!--End of left-container-->

		<div class="col-md-12 col-lg-8 right-container">
			<div class="headline">
				<marquee direction="scroll"><p>{{nwsForecast.nwsForecast1}}, {{nwsForecast.nwsForecast2}}</p></marquee>
			</div>
			<div class="section-1"></div>
			<div class="section-2">
				<img class="img-live-stream" alt="Live Stream Logo" src="{% static 'images/channel-03.png' %}">
				<div class="wrap">
					<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"  data-interval="7000">
						<div class="carousel-inner">
							<div class="carousel-item active">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{rssfeed10.title1}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{rssfeed10.lastBuildDate}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Description</th>
											<td class="td-table-2">{{rssfeed10.description}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{rssfeed11.title1}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{rssfeed11.eventDates}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Time</th>
											<td class="td-table-2">{{rssfeed11.eventTimes}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{rssfeed11.location}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{rssfeed12.title1}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{rssfeed12.eventDates}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Time</th>
											<td class="td-table-2">{{rssfeed12.eventTimes}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{rssfeed12.location}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{rssfeed13.title1}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{rssfeed13.eventDates}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Time</th>
											<td class="td-table-2">{{rssfeed13.eventTimes}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{rssfeed13.location}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{rssfeed14.title1}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{rssfeed14.eventDates}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Time</th>
											<td class="td-table-2">{{rssfeed14.eventTimes}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{rssfeed14.location}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{rssfeed15.title1}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{rssfeed15.eventDates}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Time</th>
											<td class="td-table-2">{{rssfeed15.eventTimes}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{rssfeed15.location}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{rssfeed16.title1}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{rssfeed16.eventDates}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Time</th>
											<td class="td-table-2">{{rssfeed16.eventTimes}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{rssfeed16.location}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{rssfeed17.title1}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{rssfeed17.eventDates}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Time</th>
											<td class="td-table-2">{{rssfeed17.eventTimes}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{rssfeed17.location}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{rssfeed18.title1}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{rssfeed18.eventDates}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Time</th>
											<td class="td-table-2">{{rssfeed18.eventTimes}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{rssfeed18.location}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{rssfeed19.title1}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{rssfeed19.eventDates}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Time</th>
											<td class="td-table-2">{{rssfeed19.eventTimes}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{rssfeed19.location}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{event1.title}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{event1.date}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{event1.location}}</td>
										</tr>
									
										<tr class="tr-table-2">
											<th class="th-table-2">Entry</th>
											<td class="td-table-2">{{event1.entry}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{event2.title}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{event2.date}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{event2.location}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Entry</th>
											<td class="td-table-2">{{event2.entry}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{event3.title}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{event3.date}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{event3.location}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Entry</th>
											<td class="td-table-2">{{event3.entry}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{event4.title}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{event4.date}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{event4.location}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Entry</th>
											<td class="td-table-2">{{event4.entry}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{event5.title}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{event5.date}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{event5.location}}</td>
										</tr>
										
										<tr class="tr-table-2">
											<th class="th-table-2">Entry</th>
											<td class="td-table-2">{{event5.entry}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{event6.title}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{event6.date}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{event6.location}}</td>
										</tr>
										
										<tr class="tr-table-2">
											<th class="th-table-2">Entry</th>
											<td class="td-table-2">{{event6.entry}}</td>
										</tr>
									</table>
							</div>
							<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{event7.title}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{event7.date}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{event7.location}}</td>
										</tr>
										
										<tr class="tr-table-2">
											<th class="th-table-2">Entry</th>
											<td class="td-table-2">{{event7.entry}}</td>
										</tr>
									</table>
							</div>
								<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{event8.title}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{event8.date}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{event8.location}}</td>
										</tr>
										
										<tr class="tr-table-2">
											<th class="th-table-2">Entry</th>
											<td class="td-table-2">{{event8.entry}}</td>
										</tr>
									</table>
							</div>
								<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{event9.title}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{event9.date}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{event9.location}}</td>
										</tr>
										
										<tr class="tr-table-2">
											<th class="th-table-2">Entry</th>
											<td class="td-table-2">{{event9.entry}}</td>
										</tr>
									</table>
							</div>
								<div class="carousel-item">
									<table class="table ">
										<col span="1" class="wide">
										<tr class="tr-table-2">
											<th class="th-table-2">Title</th>
											<td class="td-table-2">{{event10.title}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Event Date</th>
											<td class="td-table-2">{{event10.date}}</td>
										</tr>
										<tr class="tr-table-2">
											<th class="th-table-2">Location</th>
											<td class="td-table-2">{{event10.location}}</td>
										</tr>
										
										<tr class="tr-table-2">
											<th class="th-table-2">Entry</th>
											<td class="td-table-2">{{event10.entry}}</td>
										</tr>
									</table>
							</div>
						</div>
						</div>
				</div>
			</div><!--End of section-2-->
		</div> 	<!--End of right-container-->	
	</div> <!--End of row-->

	<div class="footer">
		<img class="img-web-address" alt="Web-Address" height="60" src="{% static 'images/logo.png' %}">
		<div class="footline">
			<marquee direction="scroll"><p><b>Today's:</b> {{rssfeed1.title1}}{{rssfeed1.lastBuildDate}}{{rssfeed1.description}} |
					 <b>Next Following Day's:</b> 
					  {{rssfeed2.title1}}{{rssfeed2.lastBuildDate}}{{rssfeed2.description}} |
					   {{rssfeed3.title1}}{{rssfeed3.lastBuildDate}}{{rssfeed3.description}} |
					    {{rssfeed4.title1}}{{rssfeed4.lastBuildDate}}{{rssfeed4.description}} |
						 {{rssfeed5.title1}}{{rssfeed5.lastBuildDate}}{{rssfeed5.description}} |
						  {{rssfeed6.title1}}{{rssfeed6.lastBuildDate}}{{rssfeed6.description}} |
						   {{rssfeed7.title1}}{{rssfeed7.lastBuildDate}}{{rssfeed7.description}} |
						    {{rssfeed8.title1}}{{rssfeed8.lastBuildDate}}{{rssfeed8.description}} |
							{{rssfeed9.title1}}{{rssfeed9.lastBuildDate}}{{rssfeed9.description}} |</p>
					 </marquee>
		</div>
	</div><!--End of footer-->

</body>
<script>
var current = 0;

setInterval(function() {
  var divs = $(".roll").hide();
  divs.eq(current).fadeIn("normal");
  if (current < divs.length - 1)
    current++;
  else
    current = 0;
}, 1000);
</script>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
